<div class="container-fluid bg-container vh-100 d-flex align-items-center justify-content-center">
  <div class="row w-100 mx-0 bg-row">
    <div class="col-md-6 offset-md-3">
      <div class="card shadow-lg border-0 rounded-lg my-5" style="background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(211, 62, 29, 1) 16%, rgba(117, 1, 68, 1) 37%, rgba(76, 75, 133, 1) 59%, rgba(163, 133, 57, 1) 69%, rgba(135, 47, 198, 1) 91%, rgba(0, 212, 255, 1) 100%);">
        <h2 class="text-center text-white mt-5">Welcome to Sai Reddy ChatHUB</h2>
        <div class="text-center mb-3 text-light">Join the Room to Start Chatting</div>

        <form [formGroup]="joinRoomForm" class="card-body  p-lg-5">
          <div class="text-center">
            <img src="https://cdn.pixabay.com/photo/2023/07/24/23/30/chat-8147986_1280.jpg"
              class="img-fluid profile-image-pic img-thumbnail rounded-circle mb-4" alt="profile">
          </div>
          
          <div class="mb-4">
            <input formControlName="user" type="text" class="form-control input-field" id="displayname" 
              placeholder="Display Name">
          </div>

          <div class="mb-4">
            <input formControlName="room" type="text" class="form-control input-field" id="roomname" 
              placeholder="Room Name">
          </div>

          <div class="text-center">
            <button [disabled]="joinRoomForm.invalid" (click)="joinRoom()" type="submit" 
              class="btn btn-color px-5 mb-3 w-100">Join</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


